.Header {
    display: flex;
    z-index: 100;
    background-color: #FFFFFF;
    height: 8vh;
    width: 100%;
    border-top:1px solid #fff;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
    align-items: center;
    min-width: 990px;
}

.header_circle {
    width: 28px;
height: 28px;
background: #1A8FE6;
border: 1px solid #D8D8D8;
border-radius: 50%;
box-sizing: border-box;
}
.header_circle_2 {
    width: 28px;
height: 28px;
background: white;
border: 1px solid #D8D8D8;
border-radius: 50%;
box-sizing: border-box;
}
.header_line {
    display: flex;
    width: 100%;
    justify-content: center;
}
.header_icon {
    /* height: 20px; */
    
    width: 17px;
    height: 13px;
    margin-left: 4px;
}